<h3 class="text-center">My account</h3>
<div class="container text-center">
    <h4><%= @user.email %></h4>
    <p><%= @user.created_at %></p>
    <p>Your reservations = <%= @user.reservations %></p>
</div>
