<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://www.ibcworldnews.com/gallery/wp-content/uploads/2016/01/digital-art-17.jpg');">
  <div class="banner-content">
    <h1>Search an ART</h1>
    <p>Simple, clear, find what you want !</p>
    <a class="btn btn-primary btn-lg">SEARCH</a>
  </div>
</div>

