<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://www.ibcworldnews.com/gallery/wp-content/uploads/2016/01/digital-art-17.jpg');">
  <div class="banner-content">
    <h1>Art&Co</h1>
    <p>Simple, clear, find what you want !</p>
    <a><%= link_to "Search some arts", artworks_path,class: "myhomebutton" %></a>
  </div>
</div>

<div class="myfontsetup text-center">
  <h1>Some Arts</h1>
</div>

<div class="wrapper">
  <div class="row">
    <% @artworks.each do |artwork| %>
      <%= link_to artwork do %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= artwork.picture.url %>)">
            <div class="card-category">Popular</div>
            <div class="card-description">
              <h2>Some stuff</h2>
              <p>Very cool stuff, useful and smart</p>
            </div>
            <img class="card-user avatar" src="http://icons.iconarchive.com/icons/hopstarter/halloween-avatars/128/Casper-icon.png">
          </div>
        </div>
      <% end %>
    <%end%>
  </div>
</div>
