<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://www.ibcworldnews.com/gallery/wp-content/uploads/2016/01/digital-art-17.jpg');">
  <div class="banner-content">
    <h1>Search an ART</h1>
    <p>Simple, clear, find what you want !</p>
    <a class="btn btn-danger btn-lg">SEARCH</a>
  </div>
</div>

<div class="section-title">
  <h1>Some ARTS !</h1>
</div>

<div class="wrapper">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.unitychristian.org/wp-content/uploads/2016/01/Art-Show.jpg');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Some stuff</h2>
          <p>Very cool stuff, useful and smart</p>
        </div>
        <img class="card-user avatar" src="http://icons.iconarchive.com/icons/hopstarter/halloween-avatars/128/Casper-icon.png">
        <a class="card-link" href="#" ></a>
      </div>
    </div>


    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.suchablog.com/wp-content/uploads/2011/12/street-art-2011_71.jpg');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Some stuff</h2>
          <p>Very cool stuff, useful and smart</p>
        </div>
        <img class="card-user avatar" src="http://icons.iconarchive.com/icons/hopstarter/halloween-avatars/128/Casper-icon.png">
        <a class="card-link" href="#" ></a>
      </div>
    </div>


    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.ka-net.org.uk/files/images/art-logo.jpg');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Some stuff</h2>
          <p>Very cool stuff, useful and smart</p>
        </div>
        <img class="card-user avatar" src="http://icons.iconarchive.com/icons/hopstarter/halloween-avatars/128/Casper-icon.png">
        <a class="card-link" href="#" ></a>
      </div>
    </div>

  </div>
</div>
